.leftBar{
  position: sticky;
  top: 20px;
  height: 97vh;
  margin: 0!important;
  display: flex;
  flex-direction: column;
  border-right: #eaedef solid 1px;
  .top{
    list-style: none;
    font-size: 1.3rem;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    li{
      margin-left: 10px;
      margin-top: 10px;
      padding: 10px;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.3s;
      color: #7d8a94ff;
      &:hover{
        background: #eaedef;
      }
    }
    .ic{
      margin-right: 10px;
      font-size: 1.3rem;
      color: #aea0ce;
    }
  }
  .bottom {
    background: #f8f6f6;
    justify-self: flex-end;
    flex: 0 0 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div{
      margin: 0!important;
    }
    .avatar{
      padding-left: 15px;
    }
    .userInfo{
      display: flex;
      flex-direction: column;
      .username{
        color: #696969ff;
        font-size: 0.9rem;
      }
      .email{
        color: #cec8d7ff;
        font-size: 0.9rem;
        font-style: italic;
      }
    }
    .icon{
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
}
