.block {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaedef;
  .avatar {
    margin-top: 10px;
    margin-left: 10px;
  }
  .content{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    .nickname {
      font-weight: lighter;
      font-style: italic;
      font-size: 0.8rem;
    }

    .time {
      font-size: 0.7rem;
      color: rgb(160, 156, 156);
    }

    .text {
      color: rgb(79, 76, 76);
      font-size: 0.8rem;
      word-break: break-all;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .operate {
    display: flex;
    margin-left: -10px;
    .heart {
      flex: 0 0 40px;
      width: 40px;
      height: 50px;
      background: url("./src/assets/heart1.png") no-repeat center;
      background-position: 0 0;
      cursor: pointer;
      -webkit-transition: background-position 1s steps(28);
      transition: background-position 1s steps(28);
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    .likeNum {
      position: relative;
      width: 30px;
    }
    .active {
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      background-position: -1400px 0;
    }
    .wrapper{
      margin: 0;
      margin-left: 10px;
      display: flex;
      flex: 0 0 70px;
      justify-content: center;
      align-items: center;
      color: #1d2b78ff;
      cursor: pointer;
      transition: all 0.4s;
      border-radius: 10px;
      height: 30px;
      span{
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 100;
      }
      &:hover{
        background-color: rgb(192, 182, 216);
        color: #fff;
      }
    }
  }
}
.childContainer{
  margin:0 !important;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  .pad{
  }
}
