.head{
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 1px solid #d0d9deff;
    border-radius: 10px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    div {
        flex: 1;
        cursor: pointer;
        line-height: 2.5rem;
        font-size: 1.2rem;
        position: relative;
        padding: 5px 0px;
        transition: all 0.2s;
        color: #7d8a94ff;
        &:hover {
            background-color: rgb(231, 231, 232);
            border-radius: 10px;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            background: #1d2b78ff;
            width: 0; //初始宽度为0
            left: 35%;
            bottom: 0;
            transition: width 0.2s;

        }

        &:hover::before {
            width: 30%;
        }
    }
    .selected {
        color: black;
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            background: #1d2b78ff;
            width: 30%; //初始宽度为0
            left: 35%;
            bottom: 0;
        }
    }
}
.like{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    border-bottom: 1px #7d8a94ff solid;
    .info{
        margin-left: 10px;
    }
    .from{
        display: flex;
        .name{
            font-size: 1rem;
            font-weight: 400;
        }
        .time{
            font-size: 0.7rem;
            color: #7d8a94ff;
        }
    }
    .info{
        margin-left: 10px;
    }
    .text{
        margin-top: 5px;
        
    }
    .content{
        background-color: #f1f3f5;
        border-radius: 5px;
        padding: 10px;
        margin-top: 5px;
        display: flex;
        .to{
            font-size: 1.1rem;
        }
        .overview{
            overflow: hidden;
            text-overflow: ellipsis;
            color: #696969;
            display:-webkit-box; //作为弹性伸缩盒子模型显示。
            -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
            -webkit-line-clamp:2; //显示的行
        }
    }
}